body{
  background-color: rgb(250 0 125);
}
.heading{
  text-align: center;
  font-family: Monospace;
}
.description{
  text-align: center;
  font-family: cursive;
}
.PI{
  background-color: #fbfc
}
.label{
  text-align: center;
}
.input{
  text-align: center;
}
